{% extends 'base.html' %}

{% block content %}


	<style type="text/css">
		.banner {
			position: absolute;
			right: 25px;
			left: auto;
		}

	</style>


		{% if nothingyet %}

			<h2> {{ nothingyet }}</h2>
			<img class="banner" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwp-user-uploads-prod.s3-ap-southeast-2.amazonaws.com%2Fapp%2Fuploads%2F2015%2F05%2FInformation-Technology_banner-2.jpg&f=1&nofb=1" width="1000" height="300"><hr>


		{% else %}


			{% if error1 %}

				<div class="media media-bordered">
				  <div class="media-body">
				    
				    <h3><span class="badge badge-primary"><b>{{ quote }}</b></span> is not in the NexCour Registry</h3>
				  </div>
				</div>

			{% endif %}


		{% endif %}



{% endblock %}


