{% extends 'base.html' %}

{% block content %}

	<br><br>

<div class="col-md-6 offset-md-3">
	<div><h4>NexCour Employee Registry</h4></div>
		<br><br>


		<form method="POST">
		  <div class="form-row">
		    <div class="col">
		    	{% csrf_token %}
		      <input type="text" class="form-control" placeholder="Enter ID Number or Name" name="quote">
		    	
		    </div>
		    <div class="col">
		      <button type="submit" class="btn btn-primary">Submit</button>
		    </div>
		  </div>
		</form>

		<hr>



		<!-- {{ employee1 }} -->


		{% for key in employee1 %}

			
			<ul class="list-group">
			  <li class="list-group-item">{{ key }}: {{ employee1 }}</li>
			</ul>
						
		{% endfor %}


{% endblock %}


