{% extends 'base.html' %}

{% block content %}

	<br><br>

<div class="col-md-6 offset-md-3">
	<div><h4>NexCour Employee Registry</h4></div>
		<br><br>


		<form method="POST">
		  <div class="form-row">
		    <div class="col">
		    	{% csrf_token %}
		      <input type="text" class="form-control" placeholder="Enter ID Number or Name" name="quote">
		    	
		    </div>
		    <div class="col">
		      <button type="submit" class="btn btn-primary">Submit</button>
		    </div>
		  </div>
		</form>

		<hr><br>



		<!-- {{ employee1 }} -->


		<ul class="list-group">
			  <li class="list-group-item list-group-item-primary"><b>NexCour Employee</b></li>
			  <li class="list-group-item"><b>Name:</b> {{ employee1.name }}</li>
			  <li class="list-group-item"><b>Employee ID:</b> {{ employee1.idcode }}</li>
			  <li class="list-group-item"><b>Employment type:</b> {{ employee1.emptype }}</li>
			  <li class="list-group-item"><b>Employment status:</b> {{ employee1.empstatus }}</li>
			  <li class="list-group-item"><b>Date Joined:</b> {{ employee1.datejoin }}</li>
			  <li class="list-group-item"><b>Job Description:</b> {{ employee1.jobdescrp }}</li>
			  <li class="list-group-item"><b>Branch:</b> {{ employee1.branch }}</li>
			</ul>
					


{% endblock %}


