{% extends 'base.html' %}

{% block content %}

{% load static %}


	<style type="text/css">
		.background {
		  position: absolute;
		  left: 0px;
		  top: 0px;
		  z-index: -1;
		}
	</style>


		{% if nothingyet %}

			<img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwp-user-uploads-prod.s3-ap-southeast-2.amazonaws.com%2Fapp%2Fuploads%2F2015%2F05%2FInformation-Technology_banner-2.jpg&f=1&nofb=1" width="1000" height="300">
			<h4> {{ nothingyet }}</h4>
		

		{% else %}


		<!-- <ul class="list-group">
			  <li class="list-group-item list-group-item-primary"><b>NexCour Personnel</b></li>
			  <img src="{% static 'Photos/Head3.jpg' %}" height="300">
			  <li class="list-group-item"><b>Name:</b> {{ direct3.name }}</li>
			  <li class="list-group-item"><b>Employee ID:</b> {{ direct3.idcode }}</li>
			  <li class="list-group-item"><b>Employment type:</b> {{ direct3.emptype }}</li>
			  <li class="list-group-item"><b>Employment status:</b> {{ direct3.empstatus }}</li>
			  <li class="list-group-item"><b>Date Joined:</b> {{ direct3.datejoin }}</li>
			  <li class="list-group-item"><b>Job Description:</b> {{ direct3.jobdescrp }}</li>
			  <li class="list-group-item"><b>Branch:</b> {{ direct3.branch }}</li>
			</ul>

			<br>

			<a href="{% url 'home' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Home</a>

				<br><br> -->


		<div class="container center">
			<div class="card center" style="width: 18rem;">
			  <img src="{% static 'Photos/Head3.jpg' %}" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title">{{ direct3.name }}</h5>
			    <p class="card-text"><small>{{ direct3.idcode }}</small></p>
			  </div>
			  <ul class="list-group list-group-flush">
			    <li class="list-group-item"><b>Employee Type:</b> {{ direct3.emptype }}</li>
			    <li class="list-group-item"><b>Employee Status:</b> {{ direct3.empstatus }}</li>
			    <li class="list-group-item"><b>Date Started:</b> {{ direct3.datejoin }}</li>
			    <li class="list-group-item"><b>Position:</b><br> {{ direct3.jobdescrp }}</li>
			    <li class="list-group-item"><b>Branch:</b> {{ direct3.branch }}</li>
			  </ul>

				<a href="{% url 'home' %}" class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">Home</a>

			</div>


		</div>

		<br><br>

		{% endif %}



{% endblock %}

