<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Employee Oracle</title>
  </head>
  <body>


          <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
            <a class="navbar-brand" href="#">NexCour Inc.</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">

                <div class="btn-group">

                 <button type="button" class="btn btn-light ml-3" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <b>{{ user }}</b>
                  </button>

              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'acct' %}">Account Info</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </div>
            </div>

                <!-- <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li> -->
                
              </ul>
              
            </div>
          </nav>



{% block content %}

	<br><br>

				<div class="container">
					{% if messages %}
						{% for message in messages %}
							<div class="alert alert-primary alert-dismissable" role="alert">
								<button class="close" data-dismiss="alert">
									<small><sup>x</sup></small>
								</button>
								{{ user }} {{ message }}
							</div>
						{% endfor %}
					{% endif %}
				</div>


				<br>

	<div class="container">

		<p>You are logged in to the NexCour Directory</p>
		<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fbanner2.kisspng.com%2F20180203%2Fdxq%2Fkisspng-computer-programming-programmer-icon-design-softwa-coder-png-transparent-image-5a756d899b30b0.5759607015176451936357.jpg&f=1&nofb=1" width="350" height="200">
		<br><br>
		<p>Click below for each:</p>
		<br>
		<a href="{% url 'home' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Personnel</a>
		<!-- <a href="{% url 'payroll' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Payroll</a> -->
    <a href="{% url 'paylogin' %}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Payroll</a>


	</div>


{% endblock %}


<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


   </body>

</html>

