<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Employee Oracle</title>
  </head>
  <body>


          <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
            <a class="navbar-brand" href="{% url 'home' %}">NexCour Inc.</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>


            

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">

                <div class="btn-group">

                 <button type="button" class="btn btn-light ml-3" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <b>{{ user }}</b>
                  </button>

              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'acct' %}">Account Info</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </div>
            </div>

                <!-- <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li> -->
                
              </ul>
              
            </div>
          </nav>


 {% block content %}


<style type="text/css">
  .text {
    color: white;
  }
</style>


<div class="container">
	<br>
	<h3>NexCour Payroll</h3> 
 <table class="table table-sm table-light">
  <thead>
  	<tr class="bg-success text">
      <th scope="col">Name</th>
      <th scope="col">ID#</th>
      <th scope="col">Jobcode</th>
      <th scope="col">Annual Salary</th>
  	</tr>
  </thead>
  <tbody>
  	<tr>
      <th scope="row">T.Flurry</th>
      <td>{{ direct1.idcode }}</td>
      <td>CA1</td>
      <td class="add 1">1,500,000</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">S.Mitchell</th>
      <td>{{ direct2.idcode }}</td>
      <td>CA4</td>
      <td class="add 2">250,000</td>
    </tr>
    <tr>
      <th scope="row">J.Golany</th>
      <td>{{ direct3.idcode }}</td>
      <td>CT7</td>
      <td>235,000</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">A.Vosiv</th>
      <td>{{ direct4.idcode }}</td>
      <td>DV1</td>
      <td>150,000</td>
    </tr>
    <tr>
      <th scope="row">R.Prasad</th>
      <td>{{ direct5.idcode }}</td>
      <td>DV4</td>
      <td>100,000</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">S.Owens</th>
      <td>{{ direct6.idcode }}</td>
      <td>DV5</td>
      <td>90,000</td>
    </tr>
    <tr>
      <th scope="row">D.Smith</th>
      <td>{{ direct7.idcode }}</td>
      <td>DV6</td>
      <td>75,000</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">F.Gates</th>
      <td>{{ direct8.idcode }}</td>
      <td>DV7</td>
      <td>95,000</td>
    </tr>
    <tr>
      <th scope="row">K.Stars</th>
      <td>{{ direct9.idcode }}</td>
      <td>JD3</td>
      <td>75,000</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">M.Thompson</th>
      <td>{{ direct10.idcode }}</td>
      <td>JD5</td>
      <td>55,000</td>
    </tr>
    <tr>
      <th scope="row">R.Moley</th>
      <td>{{ direct11.idcode }}</td>
      <td>JD6</td>
      <td>55,000</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">E.Rickets</th>
      <td>{{ direct12.idcode }}</td>
      <td>CF1</td>
      <td>250,000</td>
    </tr>
    <tr>
      <th scope="row">J.Vaughn</th>
      <td>{{ direct13.idcode }}</td>
      <td>CC1</td>
      <td>200,000</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">B.Martani</th>
      <td>{{ direct14.idcode }}</td>
      <td>CI1</td>
      <td>400,000</td>
    </tr>
    <tr>
      <th scope="row">M.Fontana</th>
      <td>{{ direct15.idcode }}</td>
      <td>CM1</td>
      <td>350,000</td>
    </tr>


    <tr class="table-success">
      <th scope="row">Totals</th>
      <td>-------</td>
      <td>-------</td>
      <td>-------</td> 
    </tr>
  </tbody>
</table>
<br>
	<a href="{% url 'home' %}" class="btn btn-block btn-primary btn-lg active" role="button" aria-pressed="true">Home</a>
</div>



 {% endblock %}


  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>